.App {
  text-align: center;
}
.login-form{
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  height:100%; 
}

p{
  font-size: 15px;
  font-weight: lighter;
  font-family: 'Libre Baskerville', serif;
  text-align: left;
}

.table{
  font-family: 'Libre Baskerville', serif;
  font-weight: bolder;

}